<h1 class="title is-1 center"> Organizers </h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% @organizers.each do |o| %>
        <tr>
            <th><%= o.id %></th>
            <td><%= o.title %></td>
            <td><%= o.description %></td>
        </tr>
        <% end %>
    </tbody>
</table>
